[Unit]
Description=Healthchecks base server
After=network-online.target
Wants=network-online.target

[Service]
Type=notify

User=ops
Group=ops

RuntimeDirectory=gunicorn
EnvironmentFile=/etc/sysconfig/healthchecks_server
WorkingDirectory=/opt/healthchecks/healthchecks
ExecStart=/opt/healthchecks/venv/bin/gunicorn --env DJANGO_SETTINGS_MODULE=hc.settings hc.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target