# SITE_ROOT = ""
# SITE_NAME = ""
# DEFAULT_FROM_EMAIL = ""

# Email
# EMAIL_HOST = ""
# EMAIL_PORT = 
# EMAIL_HOST_USER = ""
# EMAIL_HOST_PASSWORD = ""
# EMAIL_USE_TLS = True

DB=sqlite
PROMETHEUS_ENABLED=True
REGISTRATION_OPEN=False

SECRET_KEY

TELEGRAM_BOT_NAME
TELEGRAM_TOKEN