[Unit]
Description=Healthchecks base server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=20
StartLimitInterval=10
StartLimitBurst=5

User=ops
Group=ops

EnvironmentFile=/etc/sysconfig/healthchecks_server
WorkingDirectory=/opt/healthchecks/healthchecks
ExecStart=/opt/healthchecks/venv/bin/python3 /opt/healthchecks/healthchecks/manage.py runserver
#PrivateDevices=true
#ProtectHome=true
#ProtectSystem=full
#PrivateTmp=true

[Install]
WantedBy=multi-user.target