<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var jsonData = $.ajax({
          type: "POST",
          url: "{{ pillar['rente']['url'] }}",
          data: '{{ pillar['rente']['data'] }}',
          dataType: "json",
          async: false
          }).responseText;

        var data = new google.visualization.DataTable(jsonData);

        var options = {
          title: 'Rente projection',
          curveType: 'function',
          legend: { position: 'right' },

        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 1200px; height: 800px"></div>
  </body>
</html>
