#!/bin/bash

export B2_ACCOUNT_ID={{ pillar['backups']['services']['b2']['account_id'] }}
export B2_ACCOUNT_KEY={{ pillar['backups']['services']['b2']['account_key'] }}
export RESTIC_PASSWORD_COMMAND="echo -n {{ pillar['backups']['services']['repository']['password'] }}"

mkdir -p /tmp/gitea-backup
docker exec -u git -it -w /tmp $(docker ps -qf 'name=^services-gitea_server-1$') bash -c '/app/gitea/gitea dump -c /data/gitea/conf/app.ini'
docker cp --archive $(docker ps -qf 'name=^services-gitea_server-1$'):/tmp/ /tmp/gitea-backup

# If repo is not initialised, create 
/usr/local/bin/restic -r {{ pillar['backups']['services']['repository']['name'] }}:gitea snapshots || /usr/local/bin/restic -r {{ pillar['backups']['services']['repository']['name'] }}:gitea init

/usr/local/bin/restic -r {{ pillar['backups']['services']['repository']['name'] }}:gitea backup --tag gitea /tmp/gitea-backup

rm -rf /tmp/gitea-backup

curl -m 10 --retry 5 https://healthcheck.ts.vcu.edu/ping/{{ pillar['healthchecks']['services']['gitea'] }}/